{% extends "templateLogin.html" %}
{% block content %}
	<div class="login-wrapper">
		<h2>Proposition d Agenda pr les distributions aux JEHs</h2>
		<ul>
		    <li>En accueil-pointage: molly (mot de passe: molly), etc ...</li>
		    <li>En participant: FamilleSuper (mot de passe: FamilleSuper), etc ...</li>
		</ul>

		{% from "_formhelper.html" import render_field %}
		<form method="post">
			{{ form.csrf_token }}
			{% if form.csrf_token.errors %}
				<div class="warning">You have submitted an invalid CSRF token</div>
			{% endif %}
			<div>
				{{render_field(form.username)}}
			</div>
			<div>
				{{render_field(form.password)}}
			</div>
			<div>
				<button	type="submit">Log In</button>
			</div>
		</form>
		<!-- <p><a href="{{url_for('createlogin')}}">Creer un identifiant</a></p> -->
	</div>
{% endblock %}
